#usun {
    display: block;
    font-size: 30px;
    margin: 50px 0 0 50px;
}

.usunButton {
    width: 225px;
}

.pure-form {
    display: block;
    margin: 200px auto auto 43%;
}

.title {
    display: block;
    padding-bottom: 50px;
    font-size: 30px;
}

.oldPassword {
    display: block;
}


.newPassword {
    padding-top: 50px;
    display: block;
}

button {
    border-radius: 15px !important;
}

#back {
    display: block;
    font-size: 30px;
    margin: 50px 0 0 50px;
    text-align: center;
}

.back-przycisk {
    width: 225px;
    margin-left: -85px;
}

#messages {
    margin: 40px auto auto 43%;
}
